.wrapper
  = render "shared/side_bar"
  
  .chat-main
    .main-header
      .main-header__group-box
        .main-header__group-box__group-name
          = @group.name
        %ul.main-header__group-box__member-list
          Member:
          %li.main-header__group-box__member-list__member
            - @group.users.each do |user|
              = user.name
      .main-header__edit-btn
        = link_to edit_group_path(@group) do
          = 'Edit'
    .message-list
      = render @messages
      -# .message-list__chat-box
      -#   .message-list__chat-box__user-box
      -#     %p.message-list__chat-box__user-box__user-name
      -#       tarou
      -#     %p.message-list__chat-box__user-box__time
      -#       2019/11/20(wed)17:43:01
      -#   %p.message-list__chat-box__chat-message
            
         
    .form
      .input__box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input__box-text', placeholder: 'type a message'
          .contents__image
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image')
              = f.file_field :image, id: 'message_image'
          = f.submit 'Send', class: 'contents__button'